@model IEnumerable<BugTracker.Models.TicketAttachment>


<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="col-md-12">
    <div class="card">
        <form id="allInputsFormValidation" class="form-horizontal" action="" method="post" novalidate="">
            <div class="card-content">
                <fieldset>
                    <table class="table-attachment">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Ticket.Title)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.User.FirstName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FileUrl)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Created)
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Ticket.Title)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.User.FirstName)
                                </td>
                                <td>
                                    @if (item.FileUrl != null)
                                    {
                                        <image class="image-responsive" src="@Url.Content(item.FileUrl)" style=" "></image>
                                    }
                                    @Html.DisplayFor(modelItem => item.FileUrl)
                                   
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Created)
                                </td>
                                <td>
                                    @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager") || User.IsInRole("Developer"))
                                    {
                                        <a href="@Url.Action("Details", "TicketAttachments", new { id = item.Id })" class="btn btn-simple btn-info btn-icon like"><i class="ti-menu-alt"></i></a>
                                        <a href="@Url.Action("Edit", "TicketAttachments", new { id = item.Id })" class="btn btn-simple btn-warning btn-icon edit"><i class="ti-pencil-alt"></i></a>
                                        <a href="@Url.Action("Delete", "TicketAttachments", new { id = item.Id })" class="btn btn-simple btn-danger btn-icon remove"><i class="ti-close"></i></a>
                                    }
                                </td>
                            </tr>
                        }
                    </table>
                </fieldset>
            </div>
            <div class="card-footer text-center">
                <button type="submit" class="btn btn-info btn-fill">Validate Inputs</button>
            </div>
        </form>
    </div>
    </div>
    @*<script type="text/javascript">
            $().ready(function () {
                $('#registerFormValidation').validate();
                $('#loginFormValidation').validate();
                $('#allInputsFormValidation').validate();
            });
        </script>*@
